link(href='https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css' rel='stylesheet')
link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css')
link(href='https://cdn.quilljs.com/1.2.4/quill.snow.css' rel='stylesheet')

link(rel='stylesheet' href='/assets/css/designer.css')
link(rel='stylesheet' href='/assets/dt/dt.css')
link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
script( src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")

script(type='module' src='/element-definition.js')
script(type='text/javascript' src='/assets/js/extends.js')
script(type='text/javascript' src='/assets/dt/dt.js')

link(rel='apple-touch-icon' sizes='144x144' href='/assets/apple-touch-icon.png')
link(rel='shortcut icon' href='/assets/favicon.ico')
meta(name='theme-color' content='#3063A0')

link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600' rel='stylesheet')

link(rel='stylesheet' href='/assets/new/css/select2.css')
link(rel='stylesheet' href='/assets/new/open-iconic-master/open-iconic-master/font/css/open-iconic-bootstrap.css')
link(rel='stylesheet' href='/assets/new/fontawesome-free/css/all.min.css')

link(rel='stylesheet' href='/assets/new/css/theme.min.css' data-skin='default')
link(rel='stylesheet' href='/assets/new/css/theme-dark.min.css' data-skin='dark')
link(rel='stylesheet' href='/assets/new/css/custom.css')