style.
    .modal-body {
        content: attr(attr-value);
    }

    .loading-action {
        opacity: 0.5;
        pointer-events: none;
        transition: opacity 0.1s;
    }

    .select-2.select-closed .select-loaded {
        display: none !important;
    }

    .select-2.select-opened .select-loaded {
        display: block !important;
    }

    .card-header {
        height: 45px !important;
    }

    .input-like-div {
        padding: 0 4px;
        /*background-color: #f0f;*/
        overflow: hidden;
        position: sticky;
        height: 100%;
    }

    .input-like-div > input {
        padding: 2px;
        width: 100%;
        margin: 0 -1px 0 -4px;
        float: left;
        clear: both;
        /* border: 1px solid var(--gray) !important; */
        -webkit-box-shadow: 0px 0px 1px 1px var(--gray) inset !important;
        -moz-box-shadow: 0px 0px 1px 1px var(--gray) inset !important;
        box-shadow: 0px 0px 1px 1px var(--gray) inset !important;
        position: relative;
        /* background-color: var(--red) !important; */
        opacity: 0.92;
        /* border-top: 1px solid var(--gray); */
        padding: 3px;
        border-width: 0px;
        border: none !important;
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .td-like-input {
        vertical-align: middle !important;
        padding: 1px !important;
    }

    .datepicker .datepicker-picker {
        background-color: unset;
        box-shadow: 0 2px 3px var(--gray-dark), 0 0 0 1px var(--gray-dark);
    }

    .datepicker .datepicker-picker .datepicker-cell.day.focused {
        background-color: var(--dark);
        color: var(--light);
    }

    .date-selector-wrapper {
        background-color: var(--light);
        font-size: 14px;
        width: 307.875px;
        font-family: var(--font-family-sans-serif)
    }

    .date-selector-wrapper *.active {
        color: var(--light);
    }
