#announcement.auth-announcement(style='background-image: url(/assets/images/illustration/builder.svg);')
    .announcement-body
        h2.announcement-title  Building the Automated Future
        a.btn.btn-warning(href='#')
            i.fa.fa-fw.fa-angle-right
            |  Visit the Documentation
    canvas.particles-js-canvas-el(width='0' height='0' style='width: 100%; height: 100%;')

    script(src='/plugins/particles/particles.js')
    script.
       /**
        * Keep in mind that your scripts may not always be executed after the theme is completely ready,
        * you might need to observe the `theme:load` event to make sure your scripts are executed after the theme is ready.
        */

       $(document).on('theme:init', () => {
          particlesJS.load('announcement', '/plugins/particles/particles.json');
       });