script(src='/assets/plugins/bootstrap/js/jquery.min.js')
script(src='/assets/plugins/bootstrap/js/popper.min.js')
script(src='/assets/plugins/bootstrap/js/bootstrap.min.js')

script(src='/assets/plugins/bootstrap/js/pace.min.js')
script(src='/assets/plugins/bootstrap/js/stacked-menu.min.js')
script(src='/assets/plugins/bootstrap/js/perfect-scrollbar.min.js')

script(src='/assets/plugins/bootstrap/js/theme.min.js')

script(type='text/javascript' src='https://unpkg.com/flatted@3.2.5/min.js')
script(type='text/javascript' src='/utils/humanize.min.js')
script(src='https://cdn.quilljs.com/1.2.4/quill.min.js' type='text/javascript')

block footer-scripts

script.
   const [DOWN, UP] = ['down', 'up'];

   var vertical_direction = DOWN;
   var last_y = 0;

   document.addEventListener('mousemove', e => {
      if (last_y < e.clientY) {
         vertical_direction = DOWN;
      } else {
         vertical_direction = UP;
      }

      last_y = e.clientY;
   });