.top-bar-brand
    button.hamburger.hamburger-squeeze.mr-2(type='button' data-toggle='aside-menu' aria-label='toggle aside menu')
        span.hamburger-box
            span.hamburger-inner
    a(href='/core/Desk/view' element='core-link')
        img(src='/assets/images/logo.svg' alt='My Happy SVG' style='height: 28px;width:140px;')
.top-bar-list
    .top-bar-item.px-2.d-md-none.d-lg-none.d-xl-none
        button.hamburger.hamburger-squeeze(type='button' data-toggle='aside' aria-label='toggle menu')
            span.hamburger-box
                span.hamburger-inner
    .top-bar-item.top-bar-item-full
        //form.top-bar-search
            .input-group.input-group-search.dropdown
                .input-group-prepend
                    span.input-group-text
                        span.oi.oi-magnifying-glass
                input.form-control(type='text' data-toggle='dropdown' aria-label='Search' placeholder='Search')
                .dropdown-menu.dropdown-menu-rich.dropdown-menu-xl.ml-n4.mw-100
                    .dropdown-arrow.ml-3
                    .dropdown-scroll.perfect-scrollbar.h-auto(style='max-height: 360px')
                        .list-group.list-group-flush.list-group-reflow.mb-2
                            h6.list-group-header.d-flex.justify-content-between
                                span Shortcut
                            .list-group-item.py-2
                                a.stretched-link(href='#')
                                .tile.tile-sm.bg-muted
                                    i.fas.fa-user-plus
                                .ml-2  Create user
                            .list-group-item.py-2
                                a.stretched-link(href='#')
                                .tile.tile-sm.bg-muted
                                    i.fas.fa-dollar-sign
                                .ml-2  Create invoice
                            h6.list-group-header.d-flex.justify-content-between.mt-2
                                span In projects
                                a.font-weight-normal(href='#')
                                    | Show
                                    | more
                            h6.list-group-header.d-flex.justify-content-between.mt-2
                                span Another section
                                a.font-weight-normal(href='#')
                                    | Show
                                    | more
                            .list-group-item.py-2
                                a.stretched-link(href='#')
                                    span.sr-only Go to search result
                                .tile.tile-sm.bg-muted  P
                                .ml-2
                                    .mb-n1  Product name
                            a.dropdown-footer(href='#') Show all results
    .top-bar-item.top-bar-item-right.px-0.d-none.d-sm-flex
        ul.header-nav.nav
            //li.nav-item.dropdown.header-nav-dropdown.has-notified
                a.nav-link(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    span.oi.oi-pulse
                .dropdown-menu.dropdown-menu-rich.dropdown-menu-right
                    .dropdown-arrow
                    h6.dropdown-header.stop-propagation
                        span
                            | Activities
                            span.badge (2)
                    .dropdown-scroll.perfect-scrollbar
                        a.dropdown-footer(href='user-activities.html')
                            | All activities
                            i.fas.fa-fw.fa-long-arrow-alt-right
            //li.nav-item.dropdown.header-nav-dropdown.has-notified
                a.nav-link(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    span.oi.oi-envelope-open
                .dropdown-menu.dropdown-menu-rich.dropdown-menu-right
                    .dropdown-arrow
                    h6.dropdown-header.stop-propagation
                        span Messages
                        a(href='#') Mark all as read
                    .dropdown-scroll.perfect-scrollbar
                        a.dropdown-item.unread(href='#')
                            .user-avatar
                                img(src='/assets/images/avatars/team1.jpg' alt='')
                            .dropdown-item-body
                                p.subject  Stilearning
                                p.text.text-truncate  Invitation: Joe's Dinner @ Fri Aug 22
                                span.date 2 hours ago
                        a.dropdown-item(href='#')
                            .user-avatar
                                img(src='/assets/images/avatars/team3.png' alt='')
                            .dropdown-item-body
                                p.subject  Openlane
                                p.text.text-truncate  Final reminder: Upgrade to Pro
                                span.date 23 hours ago
                        a.dropdown-item(href='#')
                            .tile.tile-circle.bg-green  GZ
                            .dropdown-item-body
                                p.subject  Gogo Zoom
                                p.text.text-truncate  Live healthy with this wireless sensor.
                                span.date 1 day ago
                        a.dropdown-item(href='#')
                            .tile.tile-circle.bg-teal  GD
                            .dropdown-item-body
                                p.subject  Gold Dex
                                p.text.text-truncate  Invitation: Design Review @ Mon Jul 7
                                span.date 1 day ago
                        a.dropdown-item(href='#')
                            .user-avatar
                                img(src='/assets/images/avatars/team2.png' alt='')
                            .dropdown-item-body
                                p.subject  Creative Division
                                p.text.text-truncate  Need some feedback on this please
                                span.date 2 days ago
                        a.dropdown-item(href='#')
                            .tile.tile-circle.bg-pink  LD
                            .dropdown-item-body
                                p.subject  Lab Drill
                                p.text.text-truncate  Our UX exercise is ready
                                span.date 6 days ago
                        a.dropdown-footer(href='page-messages.html')
                            | All messages
                            i.fas.fa-fw.fa-long-arrow-alt-right
            li.nav-item.dropdown.header-nav-dropdown
                a.nav-link(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    span.oi.oi-grid-three-up
                .dropdown-menu.dropdown-menu-rich.dropdown-menu-right
                    .dropdown-arrow
                    .dropdown-sheets
                        .dropdown-sheet-item
                            a.tile-wrapper(href='/core/user/index' element='user-core-index' core)
                                span.tile.tile-lg.bg-indigo
                                    i.oi.oi-people
                                span.tile-peek Users
                        .dropdown-sheet-item
                            a.tile-wrapper(href='/core/Document/index' element='document-core-index' core)
                                span.tile.tile-lg.bg-teal
                                    i.oi.oi-fork
                                span.tile-peek Documents
                        .dropdown-sheet-item
                            a.tile-wrapper(href='/developer/App%20Manager/view' element='app-manager-view' core)
                                span.tile.tile-lg.bg-pink
                                    i.fa.fa-box
                                span.tile-peek Apps
        .dropdown.d-none.d-md-flex
            button.btn-account(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.user-avatar.user-avatar-md
                    div.tile.tile-circle.bg-orange(style="display: block;")  !{locals.user.avatar}
                    //img(src='/assets/images/avatars/profile.png' alt='')
                span.account-summary.pr-lg-4.d-none.d-lg-block
                    span.account-name !{locals.user.name}
                    span.account-description !{locals.user.email}
            // .dropdown-menu
            .dropdown-menu
                .dropdown-arrow.d-lg-none(x-arrow='')
                .dropdown-arrow.ml-3.d-none.d-lg-block
                h6.dropdown-header.d-none.d-md-block.d-lg-none !{locals.user.name}
                //a.dropdown-item(href='user-profile.html')
                    span.dropdown-icon.oi.oi-person
                    |  Profile
                a.dropdown-item(href='/auth/login/logout')
                    span.dropdown-icon.oi.oi-account-logout
                    |  Logout
                .dropdown-divider
                //a.dropdown-item(href='#') Help Center
                //a.dropdown-item(href='#')
                    | Ask
                    | Forum
                //a.dropdown-item(href='#') Keyboard Shortcuts
