link(href='https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css' rel='stylesheet')
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css')
link(href='https://cdn.quilljs.com/1.2.4/quill.snow.css' rel='stylesheet')
link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")

link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600' rel='stylesheet')

link(rel='stylesheet' href='/assets/plugins/loopar/css/designer.css')
link(rel='stylesheet' href='/assets/plugins/datetime/css/dt.css')

link(rel='stylesheet' href='/assets/plugins/bootstrap/css/select2.css')
link(rel='stylesheet' href='/assets/plugins/bootstrap/open-iconic-master/open-iconic-master/font/css/open-iconic-bootstrap.css')
link(rel='stylesheet' href='/assets/plugins/bootstrap/fontawesome-free/css/all.min.css')

link(rel='stylesheet' href='/assets/plugins/bootstrap/css/theme.min.css' data-skin='default')
link(rel='stylesheet' href='/assets/plugins/bootstrap/css/theme-dark.min.css' data-skin='dark')
link(rel='stylesheet' href='/assets/plugins/bootstrap/css/custom.css')

script( src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")
script( src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")

script(type='text/javascript' src='/assets/plugins/loopar/js/extends.js')
script(type='text/javascript' src='/assets/plugins/datetime/js/dt.js')

link(rel='apple-touch-icon' sizes='144x144' href='/assets/apple-touch-icon.png')
link(rel='shortcut icon' href='/assets/favicon.ico')
meta(name='theme-color' content='#3063A0')

block header-scripts