extends base-document

block body
    body(element='body' core)
        div(element='modal-wrapper' core)
        include unsupported-browsers
        main.auth.auth-floated
            div.auth-form
                .mb-4
                    .mb-3
                        img(src='/assets/images/logo.svg' alt='My Happy SVG' style='height: 28px;width:140px;')

                    block header

                div.wrapper(element='wrapper' core=true style="text-align: left;")
                    block content
                br
                p.mb-0.px-3.text-muted.text-center
                    | © 2022 All Rights Reserved. Loopar is dynamic and extensible JS Framework.
                    a(href='#') Privacy
                    |  and
                    a(href='#') Terms

            include footer-scripts
            include default-login-particles

    include css