//if lt IE 10
    .page-message(role='alert')
      | You are using an
      strong outdated
      |  browser. Please
      a.alert-link(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience and
      |         security.