extends ../base/desk

block content
    .empty-state
        .empty-state-container
            .state-figure
                img.img-fluid(src="/assets/images/illustration/img-2.svg" alt="" style="max-width: 320px")
            h3.state-header
                block title
                    | #{title}
            .p.state-description.lead.text-muted
                block message
                    | #{message}
            .state-action
                a.btn.btn-lg.btn-light(href="/")
                    i.fa.fa-angle-right Go Back