extends base/desk

block content
    script(src='#{client_importer}' type='module')
    script.
       var request_data = !{content};
       Promise.all([
       import('/components/element-manage.js'),
       import('#{client_importer}')
       ]).then(modules => {
       new modules[0].default().initialize().then(() => {
       new modules[1].default(request_data);
       });
       });